body {
  background-color: #ff008b;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 50px;
  list-style: none;
  color: #fff;
  font-size: 5em;
  font-family: "Arial", sans-serif;
  border: 10px solid #fff;
  display: flex;
  gap: 10px;
}

li {
  transition: 0.9s;
}

ul:hover li {
  transform: rotateY(360deg);
}

ul:hover li:nth-child(1) {
  transition-delay: 0.9s;
}

ul:hover li:nth-child(2) {
  transition-delay: 0.6s;
}

ul:hover li:nth-child(3) {
  transition-delay: 0.3s;
}
